body{
    
    background-color: white;
    background-size: cover;
    display: block;
}

#main p{
    color: #353333;
    font-size: 15px;
    margin: auto;
    margin-top: 33px;
    width: 80%;
    padding: 30px;
    box-shadow: 7px 7px 16px rgba(0, 0, 0, 0.7);
    font-family: 'Merriweather', serif;
}

#main h1{
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #8a8a8a;
  font-weight: bold;

}

/*tiles*/
#tile-container {
    margin: auto;
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
}

#tile-container:after {
  content: "";
  display: block;
  clear: both;
}



.tile {
    width: 200px;
    height: 200px;
    background-size: cover;
    float: left;
    box-sizing: border-box;
    border: 0.8px solid #171717;
    display: block;
    /*-webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    width: 100px;
    height: 100px;
    background: #2a2a2a;
    display: inline-block;
    line-height: 100px;
    float: left;
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    box-sizing: border-box;
    border: 0.8px solid #171717;*/
}

.tile.start {
  animation: tile 0.5s ease-in-out;
}

@keyframes tile {
  0% {
    transform: rotateY(0deg);
  }

  49% {
    transform: rotateY(90deg);
  }
  50% {
    transform: rotateY(270deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}


