.title {
    text-align: center;
    font-size: 45px;
}

.polaroid {
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

.polaroid img {
    width: 100%;
}

.polaroid p {
    color: #313131;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
}